h2 {
	font-family: 'Baloo Bhaina', cursive;
}


ul il {
	list-style-type: disc;
	padding-left: 20px;
}

section ul {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
    text-align: left;
    padding-inline-start: 20px;
}

header{
    text-align: center;
    width: 100%;
    background-color: #3772FF;
    width: 1200px;
	margin: 0 auto;
}

img {
    border-radius: 50%;
    float: left;
  }