#name {
    float: left;
    margin-left:255px;

}
#name h2 {
    float: left;
    color: #3772FF;
	font-size: 56px;
	font-weight: 400;
	text-transform: uppercase;
    margin: 16px 0 6px 0;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fff;
}

#name h3 {
    float:right;
    margin-left:15px;
    padding-top: 25px;
	color: #EF709D;
	font-size: 25px;
	font-weight: 500;
}

#topnav-section {
	background-color: #3772FF;
	padding: 0 0 30px 0;
}

#topnav {
	width: 1200px;
    margin: 0 auto;
    margin-top: 5px;
	/* clear: both; */
	text-align: right;
}
 

#topnav ul li {
   
	display: inline;
	list-style-type: none;
}

#topnav ul li a {
	margin-left: 30px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}



#banner {
	width: 1200px;
	margin: 0 auto;
	/* clear: both; */
    /* overflow: auto; */
   
}

#banner-section {
	background-color: #70E4EF;
	border-top: 1px #fff solid;
	padding: 30px 0;
}

#banner-left {
	float: right;
    width: 900px;
}

#banner-left h2 {
	color: #F038FF;
	font-weight: 300;
	font-size: 30px;
	margin: 20px 0;
    text-transform: uppercase;
    /* float: right; */
   
}

#banner-left h3 {
    clear: both;
	 color: black;
	font-weight: 300;
	font-size: 20px;
	margin: 0 0 20px 0;
}

#banner-left p {
	color: #fff;
	font-weight: 300;
	line-height: 150%;
}

#banner-right {
	width: 250px;
}

#banner-right img {
	margin-top: 25px;
    margin-left: 45px;
	width: 215px;
	height: 220px;
	border: 12px #036 solid;
    border-radius: 50%;
    float: left;
}

#content {
	
	float: left;
	margin: 0 0 20px 0;
}
#content1 {
	
	float: left;
	margin: 0 0 20px 0;
}
#content-section {
	margin-left: 100px;
	/* overflow: auto; */
	font-size: 16px;
}

#content-wrapper {
	margin: 0 auto;
	width: 1200px;
}

#content h1 {
	font-size: 30px;
	font-weight: 600;
	margin: 40px 0 10px 0;
	border-bottom: 1px #aaa solid;
	padding-bottom: 15px;
	text-transform: uppercase;
}

#footer {
	width: 900px;
	margin: 0 auto;
	clear: both;
}

#footer-bg {
	/* clear: both; */
	background-color: #EF709D;
	overflow: auto;
	border-top: 15px #F038FF solid;
}

#box1 {
	width: 200px;
	float: left;
	margin: 20px 0 40px 0;
	margin-right: 20px;
}

#box1 h3 {
	color: #fff;
	margin: 20px 0 15px 0;
}

